
.login-container {
  height: 100vh;
  width: 100vw;
  background-color: #f5e9dc;
  background-image: url('../assets/background.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


.login-box {
  background-color:  #EED9C4;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  border-radius: 16px;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.2s ease;
  transition: transform 0.3s ease;
}


.login-box h2 {
  font-family: 'PT Serif', serif;
  color: #4e342e; 
  margin-bottom: 10px;
  font-size:30px;
}


.login-box input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 12px;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-box input:focus {
  border-color: #274628;
}


.login-box button {
  padding: 12px;
  background-color: #4e342e; 
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 2s ease;
}

.login-box button:hover {
  background-color: #3a533b; 
}
/* Animation de vibration */
/* @keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
} */

/* 
.login-box:hover {
  animation: vibrate 0.4s linear; */
 
.login-box:hover {
  transform: translateY(-10px) scale(1.03);
}

.login-box:active {
  transform: scale(1.05); /* تكبر شوية بحال جاية عندك */
}

/* Removed the continuous float animation */

